<a href="https://colab.research.google.com/github/Mhtag/applied_statistics/blob/main/outlier_removal_using_zscore_%26_norm_dist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

we will use a height column from a dataset and see it normal distribution and remove outliers

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/math-for-machine-learning/main/3_normal_distribution/heights.csv')
df.head()

  gender     height
0   Male  73.847017
1   Male  68.781904
2   Male  74.110105
3   Male  71.730978
4   Male  69.881796

In [ ]:
df.de